#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------
// |   ~  |   Q    |   W    |   F    |    P   |   B   | # |   J   |    L   |    U    |    Y   |   ;    |  F4   |
// |  ESC | A/LGUI | R/LALT | S/LCTL | T/LSFT |   G   | # |   M   | N/LSFT | E/LCTRL | I/LALT | O/LGUI |   '   |
// | LSFT |   Z    |   X    |   C    |    V   |   D   | # |   K   |    H   |    ,    |    .   |   /    | ENTER |
//               | LT MEDIA ESC | LT NAVI TAB |  SPC  | # |  RET  | LT NUM BKSP | LT FUNC DEL |

            bindings = <
&kp TILDE   &kp Q        &kp W        &kp F        &kp P        &kp B    &kp J   &kp L        &kp U        &kp Y        &kp SCLN     &kp 
&kp ESC     &hm LGUI A   &hm LALT R   &hm LCTL S   &hm LSFT T   &kp G    &kp M   &hm LSFT N   &hm LCTL E   &hm LALT I   &hm LGUI O   &kp APOS
&kp LSFT    &kp Z        &hm RALT X   &hm RCTL C   &kp D        &kp V    &kp K   &kp H        &kp CMMA     &kp DOT      &kp FSLH     &kp RET
                               &lt MEDIA ESC   &lt NAVI TAB     &kp SPC  &kp RET   &lt NUM BKSP   &lt FUNC DEL
                        >;
                };
        };
};
