#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

// Layer Definitions
#define COLEMAK 1
#define QWERTY 0
#define GAMING_QWERTY 2
#define LAYERS 8
#define NAV 3
#define MEDIA 4
#define NUM 5
#define SYM 6
#define FN 7

// Behavior configuration
&mt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};
&lt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};
&sk {
    release-after-ms = <500>;
    quick-release;
};

// Keymap configuration (Colemak-DHm)
/ {
    keymap {
        compatible = "zmk,keymap";
        qwerty {
                // -----------------------------------------------------------------------------------------------------------------------------
                // | LAYERS |   Q    |   W    |     E     |     R     |     T     | # |     Y     |     U    |    I    |    O   |   P    |     |
                // |        | A/LGUI | S/LALT |  D/LCTRL  |  F/LSHFT  |     G     | # |     H     | J/LSHFT  | K/LCTRR | L/LALT | ;/LGUI |     |
                // |        |   Z    | X/RALT |     C     |     V     |     B     | # |     N     |     M    |    ,    | ./RALT |   /    |     |
                //                            | ESC/MEDIA |  TAB/NAV  |   SPACE   | # | ENTER/SYM | BSPC/NUM | DEL/FN  |

                bindings = <
                    &mo LAYERS    &kp Q         &kp W         &kp E            &kp R          &kp T            &kp Y            &kp U           &kp I          &kp O           &kp P            &kp GRAVE
                    &trans        &mt LGUI A    &mt LALT S    &mt LCTRL D      &mt LSHFT F    &kp G            &kp H            &mt LSHFT J     &mt LCTRL K    &mt LALT L      &mt LGUI SEMI    &kp RBRC
                    &trans        &kp Z         &mt RALT X    &kp C            &kp V          &kp B            &kp N            &kp M           &kp COMMA      &mt RALT DOT    &kp FSLH         &kp TILDE
                                                              &lt MEDIA ESC    &lt NAV TAB    &kp SPACE        &lt SYM ENTER    &lt NUM BSPC    &lt FN DEL
            >;
        };
		colemak {
                // -----------------------------------------------------------------------------------------------------------------------------
                // | LAYERS |   Q    |   W    |     F     |     P     |     B     | # |     J     |    L     |    U    |    Y   |   '    |     |
                // |        | A/LGUI | R/LALT |  S/LCTRL  |  T/LSHFT  |     G     | # |     M     | N/LSHFT  | E/LCTRL | I/LALT | O/LGUI |     |
                // |        |   Z    | X/RALT |     C     |     D     |     V     | # |     K     |    H     |    ,    | ./RALT |   /    |     |
                //                            | ESC/MEDIA |  TAB/NAV  |   SPACE   | # | ENTER/SYM | BSPC/NUM | DEL/FN  |

                bindings = <
                    &mo LAYERS     &kp Q         &kp W         &kp F            &kp P          &kp B            &kp J            &kp L           &kp U          &kp Y           &kp SQT       &kp GRAVE
                    &trans         &mt LGUI A    &mt LALT R    &mt LCTRL S      &mt LSHFT T    &kp G            &kp M            &mt LSHFT N     &mt LCTRL E    &mt LALT I      &mt LGUI O    &kp RBRC
                    &trans         &kp Z         &mt RALT X    &kp C            &kp D          &kp V            &kp K            &kp H           &kp COMMA      &mt RALT DOT    &kp FSLH      &kp TILDE
                                                               &lt MEDIA ESC    &lt NAV TAB    &kp SPACE        &lt SYM ENTER    &lt NUM BSPC    &lt FN DEL
            >;
        };
        gaming_qwerty {
                // ----------------------------------------------------------------------------------------------------
                // | LAYERS |   Q   |   W   |   E   |   R   |   T   | # |   Y   |   U   |   I   |   O   |   P   |     |
                // | CTRL   |   A   |   S   |   D   |   F   |   G   | # |   H   |   J   |   K   |   L   |   ;   |     |
                // | SHIFT  |   Z   |   X   |   C   |   V   |   B   | # |   N   |   M   |   ,   |   .   |   /   |     |
                //                          |  ESC  | SPACE |  TAB  | # | ENTER | BSPC  |  DEL  |

                bindings = <
                    &mo LAYERS    &kp Q    &kp W    &kp E      &kp R      &kp T            &kp Y        &kp U       &kp I        &kp O      &kp P       &kp GRAVE
                    &kp LCTRL     &kp A    &kp S    &kp D      &kp F      &kp G            &kp H        &kp J       &kp K        &kp L      &kp SEMI    &kp RBRC
                    &kp LSHIFT    &kp Z    &kp X    &kp C      &kp V      &kp B            &kp N        &kp M       &kp COMMA    &kp DOT    &kp FSLH    &kp TILDE
                                                    &kp ESC    &kp TAB    &kp SPACE        &kp ENTER    &kp BSPC    &kp DEL
            >;
        };
	    navigation {
                // -------------------------------------------------------------------------------------------
                // |     |      |      |       |       |     | # | UNDO  | CUT  | COPY | PASTE | REDO  |  `  |
                // |     | LGUI | LALT | LCTRL | LSHFT |     | # | LEFT  | DOWN | UP   | RIGHT |   {   |  }  |
                // |     |      | RALT |       |       |     | # | INS   | HOME | PGDN | PGUP  | END   |  ~  |
                //                     |       | HELD  |     | # | ENTER | BSPC | DEL  |

                bindings = <
                    &trans    &trans      &trans      &trans       &trans       &trans        &kp K_UNDO    &kp K_CUT    &kp K_COPY    &kp K_PASTE    &kp K_REDO    &kp GRAVE
                    &trans    &kp LGUI    &kp LALT    &kp LCTRL    &kp LSHFT    &trans        &kp LEFT      &kp DOWN     &kp UP        &kp RIGHT      &kp LBRC      &kp RBRC
                    &trans    &trans      &kp RALT    &trans       &trans       &trans        &kp INS       &kp PG_DN    &kp PG_UP     &kp HOME       &kp END       &kp TILDE
                                                      &trans       &trans       &trans        &kp ENTER     &kp BSPC     &kp DEL
            >;
        };
        media {
                // --------------------------------------------------------------------------------------------------------
                // | BOOTLOAD | OUT_BLE | BT_0 | BT_PRV | BT_NXT | BT_CLR | # |      | BR_D  | BR_U  |      |      | BT_1 |
                // | RESET    | LGUI    | LALT | LCTRL  | LSHFT  |        | # | PREV | VOL_D | VOL_U | NEXT |      | BT_2 |
                // | EP_OFF   | EP_ON   | RALT |        |        |        | # |      |       |       |      |      | BT_3 |
                //                             |  HELD  |        |        | # | STOP | PLAY  | MUTE  |     

                bindings = <
                    &bootloader          &out OUT_BLE        &bt BT_SEL 0    &bt BT_PRV    &bt BT_NXT    &bt BT_CLR        &trans        &kp C_BRI_DN    &kp C_BRI_UP    &trans        &trans    &bt BT_SEL 1  
                    &sys_reset           &kp LGUI            &kp LALT        &kp LCTRL     &kp LSHFT     &trans            &kp C_PREV    &kp C_VOL_DN    &kp C_VOL_UP    &kp C_NEXT    &trans    &bt BT_SEL 2  
                    &ext_power EP_OFF    &ext_power EP_ON    &kp RALT        &trans        &trans        &trans            &trans        &trans          &trans          &trans        &trans    &bt BT_SEL 3  
                                                                             &trans        &trans        &trans            &kp C_STOP    &kp C_PLAY      &kp C_MUTE
            >;
        };
        numbers {
                // -----------------------------------------------------------------------------------
                // |  ^  |  7  |  8  |  9  |  *  |  BSPC | # |     |       |       |      |      |     |
                // |  -  |  4  |  5  |  6  |  =  |  DEL  | # |     | LSHFT | LCTRL | LALT | LGUI |     |
                // |  +  |  1  |  2  |  3  |  \  |       | # |     |       |       | RALT |      |     |
                //                   |  0  |  .  |  SPC  | # |     | HELD  |       |

                bindings = <
                    &kp CARET    &kp N7    &kp N8    &kp N9    &kp ASTRK    &kp BSPC         &trans    &trans       &trans       &trans      &trans      &trans
                    &kp MINUS    &kp N4    &kp N5    &kp N6    &kp EQUAL    &kp DEL          &trans    &kp LSHFT    &kp LCTRL    &kp LALT    &kp LGUI    &trans
                    &kp PLUS     &kp N1    &kp N2    &kp N3    &kp BSLH     &trans           &trans    &trans       &trans       &kp RALT    &trans      &trans
                                                     &kp N0    &kp DOT      &kp SPACE        &trans    &trans       &trans
            >;
        };
        symbols {
                // ------------------------------------------------------------------------------------
                // |  {  |  }  |  [  |  ]  |  (  |  )  | # |      |       |       |      |      |     |
                // |  ~  |  :  |  #  |  $  |  %  |  ^  | # |      | LSHFT | LCTRL | LALT | LGUI |     |
                // |  *  |  _  |  |  |  @  |  <  |  >  | # |      |       |       | RALT |      |     |
                //                   |  !  |  ?  |  .  | # | HELD |       |       |

                bindings = <
                    &kp LBRC     &kp RBRC     &kp LBKT    &kp RBKT    &kp LPAR     &kp RPAR         &trans    &trans       &trans       &trans      &trans      &trans
                    &kp TILDE    &kp DQT      &kp HASH    &kp DLLR    &kp PRCNT    &kp CARET        &trans    &kp LSHFT    &kp LCTRL    &kp LALT    &kp LGUI    &trans
                    &kp ASTRK    &kp UNDER    &kp PIPE    &kp AT      &kp LT       &kp GT           &trans    &trans       &trans       &kp RALT    &trans      &trans
                                                          &kp EXCL    &kp DOT      &kp QMARK        &trans    &trans       &trans
            >;
        };
        function {
                // ------------------------------------------------------------------------------------------
                // |  F1 |  F2  |  F3  |  F4  |  F5  |  F6  | # |  F7  |   F8  |   F9  | F10  | F11  |  F12 |
                // |     |      |      |      |      |      | # |      | LSHFT | LCTRL | LALT | LGUI |      |
                // |     |      |      |      |      |      | # |      |       |       | RALT |      |      |
                //                     |      |      |      | # |      |       | HELD  |

                bindings = <
                    &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6        &kp F7    &kp F8       &kp F9       &kp F10     &kp F11     &kp F12
                    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &kp LSHFT    &kp LCTRL    &kp LALT    &kp LGUI    &trans
                    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans       &trans       &kp RALT    &trans      &trans
                                                  &trans    &trans    &trans        &trans    &trans       &trans
            >;
        };
        layers {
                // ---------------------------------------------------------------------------------------------
                // | HELD |     |     |     |     |     | # |     |     |         |                |     |     |
                // |      |     |     |     |     |     | # |     |     | COLEMAK |                |     |     |
                // |      |     |     |     |     |     | # |     |     | QWERTY  | GAMING_QWERTY  |     |     |
                //                    |     |     |     | # |     |     |         |

                bindings = <
                    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &trans         &trans               &trans    &trans
                    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &to COLEMAK    &trans               &trans    &trans
                    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &to QWERTY     &to GAMING_QWERTY    &trans    &trans
                                                  &trans    &trans    &trans        &trans    &trans    &trans
            >;
        };  
		
    };
};
